#imgeditheader {
    display: flex;
    width: 100vw;
    height: 6vh;
    background-color: #252525;
}

#table{
    background-color: #494949;
}
#imgeditheader #left {
    display: flex;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader #right {
    display: flex;
    justify-content: flex-end;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader h1 {
    margin: 0 1vw 0 1vw;
    font-size: 1.5vw;
}

#imgeditheader h1:hover {
    color: #5081a0;
}

#canvasbg {
    width: 100vw;
    height: 94vh;
    background-color: #4b4b4b;
    position: absolute;
    z-index: -1;
}
.icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
}
#layerpopup{
    display: none;
    position: absolute;
    width: 18vw;
    max-height: 88vh;
    background-color: #2b2b2b;
    z-index: 9;
    right: 0.5vw;
    top: 9vh;
    border-radius: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: hidden;
}
#layerpopupHeader{
    display: flex;
    align-items: center;
    width: 100%;
}
#layerpopupHeader div{
    width: 50%;
}
#plusbutton{
    display: flex;
    justify-content: flex-end;
}
#layerpopupHeader img{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}
#layerpopupHeader h2 {
    color: #9ec2d8;
    font-family: Drawin;
    margin-left: 1vw;
    font-size: 1.5vw;
}
#layers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1vw 0 1vw;
}
#layers .layer{
    display: grid;
    grid-template-columns: 4vw 8vw 4vw;
    height: 6vh;
    margin-top: 1vh;
    color: #9ec2d8;
    font-family: Pencil;
    font-size: 1.3vw;
    border-top: 1vh solid transparent;
    border-image: url(/img/Border.png) 30 round;
    align-items: center;
}
#layers .layer .preview{
    display: block;
    justify-self: left;
}
#layers .layer .layerName input{
    width: 8vw;
    color: #9ec2d8;
    font-family: Pencil;
    font-size: 1.3vw;
    border: none;
    background: none;
}
#layers .layer .visibility img{
    width: 2vw;
    display: flex;
    justify-self: right;
    margin-right: 0.5vw;
}
#speechTrianglo{
    position: absolute;
    background-color: #2b2b2b;
    width: 4vh;
    height: 4vh;
    transform: translate(12.5vw, -3vh) rotate(45deg);
    z-index: 8;
}