#imgeditheader {
    display: flex;
    width: 100vw;
    height: 6vh;
    background-color: #252525;
}

#table{
    background-color: #494949;
}
#imgeditheader #left {
    display: flex;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader #right {
    display: flex;
    justify-content: flex-end;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader h1 {
    margin: 0 1vw 0 1vw;
    font-size: 1.5vw;
}

#imgeditheader h1:hover {
    color: #5081a0;
}

#canvasbg {
    width: 100vw;
    height: 94vh;
    background-color: #4b4b4b;
    position: absolute;
    z-index: -1;
}
.icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
}
#colorPreview{
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
    background-color: #9ec2d8;
    border-radius: 50%;
}
#layerpopup, #colorpopup, #settingsPopup{
    display: none;
    position: absolute;
    width: 18vw;
    max-height: 88vh;
    background-color: #2b2b2b;
    z-index: 9;
    right: 0.5vw;
    top: 9vh;
    border-radius: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
#colorpopup{
    border-top-right-radius: 3px;
}
#layerpopupcontent, #colorpopupcontent, #settingsPopupContent{
    overflow: hidden;
}
#layerCover{
    overflow-y: auto;
    max-height: 75vh;
    scrollbar-width: none
}
#settingsPopupContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#layerpopupHeader{
    display: flex;
    align-items: center;
    width: 100%;
}
#layerpopupHeader div{
    width: 50%;
}
#plusbutton{
    display: flex;
    justify-content: flex-end;
}
#layerpopupHeader img{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}
#layerpopupHeader h2 {
    color: #9ec2d8;
    font-family: Drawin;
    margin-left: 1vw;
    font-size: 1.5vw;
}
#layers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1vw 0 1vw;
    overflow-x: hidden;
}
#layers .layer{
    display: grid;
    grid-template-columns: 4vw 8vw 4vw 3vw 3vw;
    height: 6vh;
    margin-top: 1vh;
    color: #9ec2d8;
    font-family: Pencil;
    font-size: 1.3vw;
    align-items: center;
    border-radius: 5px;
}
#layers .border{
    border-top: 1vh solid transparent;
    border-image: url(/img/Border.png) 30 round;
}
#layers .selectedLayer{
    background-color: #9ec2d8;
    color: #2b2b2b;
    border: none;
}
#layers .selectedLayer.options .duplicate{
    background-color: #61859b;
}
#layers .selectedLayer .layerName input{
    color: #2b2b2b !important;
}
/* Animation */
#layers .options div{
    transform: translate(-6.05vw);
    border-radius: 5px;
}
#layers .options .layerName{
    transform: translate(-4vw);
}
#layers .options .duplicate{
    transform: translate(-6.2vw);
}
#layers div{
    transition: 0.5s;
}
/* Animation end*/
#layers .delete{
    background-color: red;
    font-size: 0.9vw;
    color: cyan;
    text-align: center;
    border-radius: 5px;
}
#layers .duplicate{
    font-size: 0.7vw;
    background-color: #202020;
    height: 95%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#layers .layer .preview{
    display: block;
    justify-self: left;
    margin-left: 0.5vw;
    width: 3vw;
    height: 4vh;
}
#layers .layer .layerName input{
    width: 8vw;
    color: #9ec2d8;
    font-family: Pencil;
    font-size: 1.3vw;
    border: none;
    background: none;
}
#layers .layer .visibility img{
    width: 2vw;
    display: flex;
    justify-self: right;
    margin-right: 0.5vw;
}
#speechTriangloLayers{
    position: absolute;
    background-color: #2b2b2b;
    width: 4vh;
    height: 4vh;
    transform: translate(12.5vw, -3vh) rotate(45deg);
    z-index: 8;
}
#speechTriangloColor{
    position: absolute;
    background-color: #2b2b2b;
    width: 4vh;
    height: 4vh;
    transform: translate(15.6vw, -3vh) rotate(45deg);
    z-index: 8;
}
#speechTriangloSettings{
    position: absolute;
    background-color: #2b2b2b;
    width: 4vh;
    height: 4vh;
    transform: translate(0vw, -4vh) rotate(45deg);
    z-index: -1;
}
#coverInvisiGirth{
    display: none;
    position: absolute;
    z-index: 4;
    background-color: #252525;
    border-radius: 5px;
    top: 36vh;
    left: 2px;  
}
#invisiGirth{
    display: flex;
    flex-direction: column;
    height: 34vh;
    width: 2vw;
    justify-content: center;
}
#invisiGirth input[type="range"] {
    writing-mode: vertical-lr;
    height: 14vh;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0.5vh 0 0.5vh 0;
}
#opacity{
    transform: rotate(180deg);
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#invisiGirth input[type="range"]::-webkit-slider-runnable-track {
    background: #666666;
    width: 3vh;
    border-radius: 5px;
}
#invisiGirth input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background: #9ec2d8;
    height: 2vh;
    width: 3.8vh;
    margin-top: 0.05vh;
    margin-left: -0.4vh;
    border-radius: 5px;
}
/******** Firefox ********/
 #invisiGirth input[type="range"]::-moz-range-track {
  background: #9ec2d8;
}
#invisiGirth img{
    width: 3.8vh;
    height: 4vh;
    justify-self: center;
    margin-left: 0.2vh;
}
#settingsPopup{
    display: none;
    width: 10vw;
    left: 5vw;
    padding: 1vw;
}
#settingsPopup h2{
    margin: 2vh 0 2vh 0;
    color: #9ec2d8;
    font-family: Drawin;
    text-align: center;
}
#settingsPopup img{
    width: 4vh;
    height: 4vh;
    margin-right: 0.5vw;
}
#settingsPopup .settings{
    display: flex;
    color: #9ec2d8;
    font-family: Pencil;
    font-size: 1.3vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
#settingsPopup .settings:hover{
    background-color: #3a3a3a;
}
.spc{
    float: left;
}
#cursorPopup{
    display: none;
    position: absolute;
    width: 70vw;
    max-height: 88vh;
    background-color: #2b2b2b;
    z-index: 9;
    bottom: 1vh;
    left: 15vw;
    border-radius: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
#cursorPopupContent{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9ec2d8;
    font-family: Pencil;
}

#cursorPopupTop{
    margin-left: 23vw;
    margin-right: 23vw;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #494949;
    width: 24vw;
}
#cursorPopupTop img{
    width: 2vh;
    height: 2vh;
    margin-right: 1vh;
}
#cursorPopupTop div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    border-radius: 15px;
}
#cursorPopupBottom{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}
#cursorPopupBottom div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6vw;
    padding-top: 2vh;
    border-radius: 15px;
}
#cursorPopupBottom img{
    width: 2vw;
    height: 2vw;
}
.ActiveCursorButton{
    background-color: #9ec2d8 !important;
    color: #494949 !important;
}
.cursorPopupBottomButtons:hover{
    background-color: #363636;
}
#clippingPopup{
    display: none;
    position: absolute;
    width: 70vw;
    max-height: 88vh;
    background-color: #2b2b2b;
    z-index: 9;
    bottom: 1vh;
    left: 15vw;
    border-radius: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
#clippingPopupContent{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9ec2d8;
    font-family: Pencil;
}

#clippingPopupTop{
    margin-left: 23vw;
    margin-right: 23vw;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #494949;
    width: 24vw;
}
#clippingPopupTop img{
    width: 2vh;
    height: 2vh;
    margin-right: 1vh;
}
#clippingPopupTop div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    border-radius: 15px;
}
#clippingPopupBottom{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}
#clippingPopupBottom div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6vw;
    padding-top: 2vh;
    border-radius: 15px;
}
#clippingPopupBottom img{
    width: 2vw;
    height: 2vw;
}
.ActiveclippingButton{
    background-color: #9ec2d8 !important;
    color: #494949 !important;
}
.clippingPopupBottomButtons:hover{
    background-color: #363636;
}