#imgeditheader {
    display: flex;
    width: 100vw;
    height: 6vh;
    background-color: #252525;
}

#imgeditheader #left {
    display: flex;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader #right {
    display: flex;
    justify-content: flex-end;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader h1 {
    margin: 0 1vw 0 1vw;
    font-size: 1.5vw;
}

#imgeditheader h1:hover {
    color: #5081a0;
}

#canvasbg {
    width: 100vw;
    height: 96vh;
    background-color: #4b4b4b;
}
canvas{
    background-image:
        linear-gradient(45deg, rgb(20, 20, 20) 26%, transparent 26%),
        linear-gradient(135deg, rgb(20, 20, 20)26%, transparent 26%),
        linear-gradient(45deg, transparent 75%, rgb(20, 20, 20) 75%),
        linear-gradient(135deg, transparent 75%, rgb(20, 20, 20) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
}
.icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
}

.icon:hover {
    scale: 1.1;
}