#imgeditheader {
    display: flex;
    width: 100vw;
    height: 6vh;
    background-color: #252525;
}

#myCanvas{
    background-color: #494949;
}
#imgeditheader #left {
    display: flex;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader #right {
    display: flex;
    justify-content: flex-end;
    padding-top: 1vh;
    width: 50vw;
}

#imgeditheader h1 {
    margin: 0 1vw 0 1vw;
    font-size: 1.5vw;
}

#imgeditheader h1:hover {
    color: #5081a0;
}

#canvasbg {
    width: 100vw;
    height: 96vh;
    background-color: #4b4b4b;
    position: absolute;
    z-index: -1;
}
.icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
}